<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <a class="navbar-brand" href="{{site.baseurl}}/index.html">O²Xfs</a>
      <div class="collapse navbar-collapse">
      	<ul class="navbar-nav mr-auto">
      	  <li class="nav-item">
      	    <a class="nav-link" href="{{site.baseurl}}/setup.html">Setup</a>
      	  </li>
      	  <li class="nav-item">
      	    <a class="nav-link" href="{{site.baseurl}}/eclipse.html">Eclipse</a>
      	  </li>
      	  <li class="nav-item">
      	    <a class="nav-link" href="{{site.baseurl}}/vs.html">Visual Studio</a>
      	  </li>
      	  <li class="nav-item">
      	    <a class="nav-link" href="{{site.baseurl}}/tutorial.html">Tutorial</a>
      	  </li>
      	</ul>
      </div>
    </nav>
    <div class="container">{{ content }}</div>
  </body>
</html>