<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
      <a class="navbar-brand" href="{{site.baseurl}}/index.html">O²Xfs</a>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/setup.html">Setup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/eclipse.html">Eclipse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/vs.html">Visual Studio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{site.baseurl}}/tutorial.html">Tutorial</a>
        </li>
      </ul>
    </nav>
    <div class="container">{{ content }}</div>
  </body>
</html>